{{>Header}}{{>sidebar}}

<div class="container mt-4">
  <!-- <table class="table table-hover "> -->
  <table id="userTable" class="display">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Gender</th>
        <th>About</th>
        <th>Looking-For</th>
        <th>Interest</th>
      </tr>
    </thead>
    <tbody>
        {{#each user}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.phonenumber}}</td>
        <td>{{this.age}}</td>
        <td>{{this.gender}}</td>
        <td>{{this.about}}</td>
        <td>{{this.looging_for}}</td>
        <td>{{this.interest}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{>footer}}
