{{>Header}}{{>sidebar}}


<div class="container mt-4">

  <div class="row">
    <div class="col-sm-6"><h3 class="mb-0">Users</h3></div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-end">
        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Users
        </li>
      </ol>
    </div>
  </div>

  <table id="userTable" class="display">
    <thead>
      <tr>
        <!-- <th>ID</th> -->
      
         <th>index</th>
         <th>profileimage</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>view</th>
        <th>Report</th>
       
       
       
      </tr>
    </thead>
    <tbody>
        {{#each user}}
      <tr>
        <!-- <td>{{this.id}}</td> -->
    
        
        <td>{{inc @index}}</td>
        <td><img src="/profile-images/{{this.profileimage}}" width="100" height="100"></img></td>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.phonenumber}}</td>
        <td><a href="/user-profile/{{this.id}}"><button type="button" class="btn btn-outline-primary mb-2">View</button></a></td> 
        <td><a href="/reports/{{this.id}}"><button type="button" class="btn btn-outline-primary mb-2">Reports</button></a></td>  
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{>footer}} 
