{{>Header}}{{>sidebar}}

<div class="container mt-4">
  <!--begin::Row-->
  <div class="row">
    <div class="col-sm-6"><h3 class="mb-0">Users</h3></div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-end">
        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Users
        </li>
      </ol>
    </div>
  </div>
  <!--end::Row-->
  <table id="userTable" class="display">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Gender</th>
        <th>About</th>
        <th>Looking-For</th>
        <th>Interest</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
        {{#each user}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.phonenumber}}</td>
        <td>{{this.age}}</td>
        <td>{{this.gender}}</td>
        <td>{{this.about}}</td>
        <td>{{this.looking_for}}</td>
        <td>{{this.interest}}</td>
        <td><a href="/edit-user"><button type="button" class="btn btn-outline-primary mb-2">Edit</button></a></td>
        <td><button type="button" class="btn btn-outline-danger mb-2">Delete</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{>footer}}
