<!--begin::Sidebar-->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <!--begin::Sidebar Brand-->
  <div class="sidebar-brand">
    <!--begin::Brand Link-->
    <a href="/dashboard" class="brand-link">
      <!--begin::Brand Image-->
      {{!-- <img src="../../dist/assets/img/AdminLTELogo.png" alt="Mego Logo" class="brand-image opacity-75 shadow" />
      --}}
      <!--end::Brand Image-->
      <!--begin::Brand Text-->
      <b> <span class="brand-text fw-light">Mego <span style="color: #c2fd00;">Dating</span></span></b>
      <!--end::Brand Text-->
    </a>
    <!--end::Brand Link-->
  </div>
  <!--end::Sidebar Brand-->
  <!--begin::Sidebar Wrapper-->
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      <!--begin::Sidebar Menu-->
      <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
        <li class="nav-item menu-open">
          <a href="/dashboard" class="nav-link active">
            <i class="nav-icon bi bi-speedometer"></i>
            <p>
              Dashboard
              {{!-- <i class="nav-arrow bi bi-chevron-right"></i> --}}
            </p>
          </a>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-speedometer"></i>
            <p>
              User Management
              <i class="right bi bi-chevron-down"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">

            <li class="nav-item">
              <a href="/users" class="nav-link">
                <i class="bi bi-person nav-icon"></i>
                <p>All Users
                  {{!-- <i class="nav-arrow bi bi-chevron-right"></i> --}}
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/reported-users" class="nav-link">
                <i class="bi bi-flag nav-icon"></i>
                <p>Reported Users
                  {{!-- <i class="nav-arrow bi bi-chevron-right"></i> --}}
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/users/active" class="nav-link">
                <i class="bi bi-person-check nav-icon"></i>
                <p>Active Users
                  {{!-- <i class="nav-arrow bi bi-chevron-right"></i> --}}
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Susbscrption_List" class="nav-link">
                <i class="bi bi-person-check nav-icon"></i>
                <p>Subscription_List
                  {{!-- <i class="nav-arrow bi bi-chevron-right"></i> --}}
                </p>
              </a>
            </li>
          </ul>
        </li>


        <a href="/change-password" class="nav-link active">
          <i class="nav-icon bi bi-speedometer"></i>
          <p>
            Change Password
            {{!-- <i class="nav-arrow bi bi-chevron-right"></i> --}}
          </p>
        </a>

        <a href="/payment-history" class="nav-link active">
          <i class="nav-icon bi bi-speedometer"></i>
          <p>
            Payment History
            {{!-- <i class="nav-arrow bi bi-chevron-right"></i> --}}
          </p>
        </a>




        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-speedometer"></i>
            <p>
              Subscription
              <i class="right bi bi-chevron-down"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">

            <li class="nav-item">
              <a href="/GetSubscription" class="nav-link">
                <i class="bi bi-flag nav-icon"></i>
                <p>Add Subscription Plan
                  {{!-- <i class="nav-arrow bi bi-chevron-right"></i> --}}
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/getAllUserSubscription" class="nav-link active">
                <i class="nav-icon bi bi-speedometer"></i>
                <p>
                  Subscription Plans
                  {{!-- <i class="nav-arrow bi bi-chevron-right"></i> --}}
                </p>
              </a>
            </li>

           

            {{!-- <li class="nav-item">
              <a href="/users/active" class="nav-link">
                <i class="bi bi-person-check nav-icon"></i>
                <p>Active Users
                  {{!-- <i class="nav-arrow bi bi-chevron-right"></i> --}}
                </p>
              </a>
            </li> --}}
          </ul>
        </li>

        </li>
        {{!-- <li class="nav-item">
          <a href="./generate/theme.html" class="nav-link">
            <i class="nav-icon bi bi-palette"></i>
            <p>Theme Generate</p>
          </a>
        </li> --}}
      </ul>
      <!--end::Sidebar Menu-->
    </nav>
  </div>
  <!--end::Sidebar Wrapper-->
</aside>
<!--end::Sidebar-->